/* Utilidades */

.text-align{
    text-align: center;
}

/* Globales */

html {
  height: 100%;
  background: #ecf0f3;
}

* {
  font-family: "Montserrat", sans-serif;
  color: #9fa8da;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}


li{
  list-style: none;
}

textarea{
  text-align: center;
  background: none;
}
/* Text area neumorphism */

.box {
  display: block;
  width: 80%;
  max-width: 900px;
  margin: auto auto;
}

textarea {
  -webkit-tap-highlight-color: transparent;
  width: inherit;
  min-height: 8rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  border: none;
  border-radius: 1rem;
  outline: none;
  box-shadow: 18px 18px 30px #d1d9e9, -18px -18px 30px #ffffff;
  resize: vertical;
  transition: ease 0.2s;
  cursor: pointer;
}

textarea::placeholder {
  color: #9fa8da;
}

textarea:focus {
  min-height: 12rem;
  box-shadow: inset 18px 18px 30px #d1d9e9, inset -18px -18px 30px #ffffff;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: transparent;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: transparent;
}
/* IE 10+ */
:-ms-input-placeholder {
  color: transparent;
}
/* Firefox 18- */
:-moz-placeholder {
  color: transparent;
}

textarea:placeholder-shown {
  background: none;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.form-container{
  margin: 0 auto;
}


/* Main content */
@media (min-width: 768px) {
  .flex-container {
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    max-height: 100vh;
    height: 50vh;
  }

  .form-container {
    flex-basis: calc(45% - 10px);
    text-align: center;
    max-height: 100%;
  }

  /* Tweets */

  .tweets-container {
    flex-basis: calc(45% - 10px);
    max-height: 100%;
  }


  #lista-tweets{
    -webkit-tap-highlight-color: transparent;
    width: 70%;
    min-height: 8rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow: 18px 18px 30px #d1d9e9, -18px -18px 30px #ffffff;
    resize: vertical;
    transition: ease 0.2s;
    margin: auto auto;
  }
}


/* Submit Button */

.button-container{
    text-align: center;
}

.button-container input[type='button']{
    width: 170px;
    height: 70px;
    font-size: 20px;
    border-radius: 80px;
    border: none;
    color: #9fa8da;
    font-weight: bold;
    background: none;
    box-shadow: 18px 18px 30px #d1d9e9, -18px -18px 30px #ffffff;
    outline: none; /* Esto borra el marco del contenedor al hacer click */
    transition: ease 0.2;
}

.button-container input[type='button']:hover{
    box-shadow: 18px 18px 30px #cad2e2, -18px -18px 30px #f1f1ff;
}

.button-container input[type='button']:focus{
    box-shadow: inset 9px 9px 15px #d1d9e9, inset -9px -9px 15px #ffffff;
}



#lista-tweets{
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

#lista-tweets li{
  font-weight: 600;
  flex-shrink: 3;
  margin: 0 10px;
}
#lista-tweets li a{
  font-weight: 300;
  transition: all 0.3s ease;
}

#lista-tweets li a:hover{
  transform: rotate(45deg);
  cursor: pointer;
}

.borrar-tweet{
  margin-left: 5px;
  text-transform: lowercase;
  color: #da9f9f;
  transition: all 0.5s ease 0s;
}

